<div class="box_top">
    {{> eachPost}}
    <p>{{description}}</p>
    <p>posted by: {{owner.username}}</p>
</div>
        <div  class="box_under"  >
    <form  id="usrform" action="/posts/add-review/{{_id}}" method="post">
  

    <button  class="button-12"  type="submit">Add Comment</button>

    </form>
        <textarea type="text"   name="comment" form="usrform">Enter comments here...</textarea>
{{#if reviews}}

       

    {{#each reviews}}
             
        <div class="container_chat_darker">
       <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">  --->
        <p>{{comment}}</p>
        <span class="user-left">{{user.username}}</span>
        </div>


    {{/each}}

    

{{else}}

    <p>No Reviews yet</p>

{{/if}}


</div>

