            <div class="container">
                <h4>{{name}}</h4>
            <img  src="{{imageUrl}}" alt="Avatar" class="image">
            <div class="overlay">
                <div    class="text">Edit and Delete</div>
            </div>
                 
            </div>
              

    <p>{{description}}</p>
    <p>posted by: {{owner.username}}</p>
    
<form action="/posts/add-review/{{_id}}" method="post">
    <label for="">New Comment</label>
    <input type="text" name="comment">

    <button type="submit">Add Comment</button>

</form>

{{#if reviews}}

    <ul>

    {{#each reviews}}

        <li>
            <p>{{comment}}</p>
            <h6>-{{user.username}}</h6>
        </li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}
